@import "tailwindcss";
@import "tw-animate-css";

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-accent-blue: #3b82f6;
  --color-accent-violet: #4f46e5;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius: var(----radius);
  --color-destructive-foreground: var(----destructive-foreground);

  --animate-aurora: aurora 8s ease-in-out infinite alternate;

  --animate-fade-in: fade-in 0.4s ease-out;

  --animate-scale-in-sm: scale-in-sm 0.4s ease-out;
  --animate-scale-in-md: scale-in-md 0.4s ease-out;
  --animate-scale-in-lg: scale-in-lg 0.4s ease-out;

  --animate-slide-up-sm: slide-up-sm 0.4s ease-out;
  --animate-slide-up-md: slide-up-md 0.4s ease-out;
  --animate-slide-up-lg: slide-up-lg 0.4s ease-out;

  --animate-slide-down-sm: slide-down-sm 0.4s ease-out;
  --animate-slide-down-md: slide-down-md 0.4s ease-out;
  --animate-slide-down-lg: slide-down-lg 0.4s ease-out;

  --animate-slide-left-sm: slide-left-sm 0.4s ease-out;
  --animate-slide-left-md: slide-left-md 0.4s ease-out;
  --animate-slide-left-lg: slide-left-lg 0.4s ease-out;

  --animate-slide-right-sm: slide-right-sm 0.4s ease-out;
  --animate-slide-right-md: slide-right-md 0.4s ease-out;
  --animate-slide-right-lg: slide-right-lg 0.4s ease-out;

  --animate-slide-scale-up-sm: slide-scale-up-sm 0.4s ease-out;
  --animate-slide-scale-up-md: slide-scale-up-md 0.4s ease-out;
  --animate-slide-scale-up-lg: slide-scale-up-lg 0.4s ease-out;

  --animate-slide-scale-down-sm: slide-scale-down-sm 0.4s ease-out;
  --animate-slide-scale-down-md: slide-scale-down-md 0.4s ease-out;
  --animate-slide-scale-down-lg: slide-scale-down-lg 0.4s ease-out;

  --animate-slide-scale-left-sm: slide-scale-left-sm 0.4s ease-out;
  --animate-slide-scale-left-md: slide-scale-left-md 0.4s ease-out;
  --animate-slide-scale-left-lg: slide-scale-left-lg 0.4s ease-out;

  --animate-slide-scale-right-sm: slide-scale-right-sm 0.4s ease-out;
  --animate-slide-scale-right-md: slide-scale-right-md 0.4s ease-out;
  --animate-slide-scale-right-lg: slide-scale-right-lg 0.4s ease-out;

  --animate-slide-scale-up-sm: slide-scale-up-sm 0.4s ease-out;
  --animate-slide-scale-up-md: slide-scale-up-md 0.4s ease-out;
  --animate-slide-scale-up-lg: slide-scale-up-lg 0.4s ease-out;

  --animate-slide-scale-down-sm: slide-scale-down-sm 0.4s ease-out;
  --animate-slide-scale-down-md: slide-scale-down-md 0.4s ease-out;
  --animate-slide-scale-down-lg: slide-scale-down-lg 0.4s ease-out;

  --animate-slide-scale-left-sm: slide-scale-left-sm 0.4s ease-out;
  --animate-slide-scale-left-md: slide-scale-left-md 0.4s ease-out;
  --animate-slide-scale-left-lg: slide-scale-left-lg 0.4s ease-out;

  --animate-slide-scale-right-sm: slide-scale-right-sm 0.4s ease-out;
  --animate-slide-scale-right-md: slide-scale-right-md 0.4s ease-out;
  --animate-slide-scale-right-lg: slide-scale-right-lg 0.4s ease-out;

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }

    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }

    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }

    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }

    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes scale-in-sm {
    from {
      opacity: 0;
      transform: scale(0.95);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scale-in-md {
    from {
      opacity: 0;
      transform: scale(0.85);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes scale-in-lg {
    from {
      opacity: 0;
      transform: scale(0.75);
    }

    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes slide-up-sm {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up-md {
    from {
      opacity: 0;
      transform: translateY(40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-up-lg {
    from {
      opacity: 0;
      transform: translateY(60px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down-sm {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down-md {
    from {
      opacity: 0;
      transform: translateY(-40px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-down-lg {
    from {
      opacity: 0;
      transform: translateY(-60px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slide-left-sm {
    from {
      opacity: 0;
      transform: translateX(20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-left-md {
    from {
      opacity: 0;
      transform: translateX(40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-left-lg {
    from {
      opacity: 0;
      transform: translateX(60px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right-sm {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right-md {
    from {
      opacity: 0;
      transform: translateX(-40px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-right-lg {
    from {
      opacity: 0;
      transform: translateX(-60px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slide-scale-up-sm {
    from {
      opacity: 0;
      transform: translateY(20px) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slide-scale-up-md {
    from {
      opacity: 0;
      transform: translateY(40px) scale(0.85);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slide-scale-up-lg {
    from {
      opacity: 0;
      transform: translateY(60px) scale(0.75);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slide-scale-down-sm {
    from {
      opacity: 0;
      transform: translateY(-20px) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slide-scale-down-md {
    from {
      opacity: 0;
      transform: translateY(-40px) scale(0.85);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slide-scale-down-lg {
    from {
      opacity: 0;
      transform: translateY(-60px) scale(0.75);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  @keyframes slide-scale-left-sm {
    from {
      opacity: 0;
      transform: translateX(20px) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes slide-scale-left-md {
    from {
      opacity: 0;
      transform: translateX(40px) scale(0.85);
    }

    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes slide-scale-left-lg {
    from {
      opacity: 0;
      transform: translateX(60px) scale(0.75);
    }

    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes slide-scale-right-sm {
    from {
      opacity: 0;
      transform: translateX(-20px) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes slide-scale-right-md {
    from {
      opacity: 0;
      transform: translateX(-40px) scale(0.85);
    }

    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }

  @keyframes slide-scale-right-lg {
    from {
      opacity: 0;
      transform: translateX(-60px) scale(0.75);
    }

    to {
      opacity: 1;
      transform: translateX(0) scale(1);
    }
  }
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --destructive-foreground: hsl(0 0% 98%);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --destructive-foreground: hsl(0 0% 98%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

.typing-animation {
  display: inline-block;
  overflow: hidden;
  /* Ensures the text is hidden during animation */
  white-space: nowrap;
  /* Prevents text from wrapping */
  border-right: 2px solid gray;
  /* Simulates the typing cursor */
  animation: typing 3s steps(30, end), blink 0.5s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blink {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: gray;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.no-scroll-bar {
  scrollbar-color: red transparent;
}

.gradient-border {
  background: linear-gradient(270deg, #9c2dec, #ec4899, #4f46e5);
  background-size: 400% 400%;
  animation: gradientAnimation 3s ease infinite;
}

.animate-gradient {
  background: linear-gradient(270deg, #9c2dec, #ec4899, #4f46e5);
  background-size: 400% 400%;
  animation: gradientAnimation 8s ease infinite;
}

.circular-border {
  @apply relative w-40 h-40 rounded-full overflow-hidden;

  /* Inner rotating gradient border */
  &::before {
    content: "";
    @apply absolute inset-0 rounded-full;
    border: 8px solid transparent;
    background: linear-gradient(90deg, #4f46e5, #3b82f6);
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    animation: rotate-border 4s linear infinite;
  }
}

@keyframes rotate-border {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Add to ScrollArea components */
[data-radix-scroll-area-viewport] {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

[data-radix-scroll-area-viewport]::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

[data-radix-scroll-area-viewport]::-webkit-scrollbar-track {
  background: transparent;
}

[data-radix-scroll-area-viewport]::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

/* Add animation for tab transitions */
.tab-content {
  position: relative;
}

.tab-content>div {
  transition: opacity 0.3s ease-in-out;
}
